%h3 Steering Committees
%ul
 %li= link_to 'Michel Bidoit (France)',"http://www.lsv.ens-cachan.fr/~bidoit/"
 %li= link_to 'Andrea Corradini (Italy)',"http://www.di.unipi.it/~andrea/"
 %li= link_to 'Jose Fiadeiro (UK)',"http://www.cs.le.ac.uk/people/jfiadeiro/"
 %li= link_to 'Rolf Hennicker (Germany)',"http://www.pst.ifi.lmu.de/~hennicke/"
 %li= link_to 'Hans-Jörg Kreowski (Germany)',"http://www.informatik.uni-bremen.de/theorie/kreo/"
 %li= link_to 'Till Mossakowski (Germany)-chair',"http://iws.cs.uni-magdeburg.de/~mossakow/"
 %li= link_to 'Fernando Orejas (Spain)',"http://www.lsi.upc.edu/~orejas/"
 %li= link_to 'Francesco Parisi-Presicce (Italy)',"http://www.dsi.uniroma1.it/~parisi/"
 %li= link_to 'Grigore Roșu (United States)',"http://fsl.cs.uiuc.edu/~grosu/"
 %li= link_to 'Andrzej Tarlecki (Poland)',"http://www.mimuw.edu.pl/~tarlecki/"

%h3 Local Organinzers
%ul
 %li= "Räzvan Diaconescu (Romania)-chair","http://imar.ro/~diacon/"
 %li= "Mihai Codescu (Germany)","http://www8.cs.fau.de/~codescu/"
 %li= "Ionuţ Ţuţu (UK)","http://www.informatik.uni-trier.de/~ley/pers/hd/t/Tutu:Ionut"
 


























