%h3 Steering Committees
%ul
 %li= link_to 'Michel Bidoit (France)',"http://www.lsv.ens-cachan.fr/~bidoit/"
 %li= link_to 'Andrea Corradini (Italy)',"http://www.di.unipi.it/~andrea/"
 %li= link_to 'José Fiadeiro (UK)'," http://pure.rhul.ac.uk/portal/en/persons/jose-luiz-fiadeiro%28c4ed8fbc-8d78-49af-b591-11638132ab3a%29.html"
 %li= link_to 'Rolf Hennicker (Germany)',"http://www.pst.ifi.lmu.de/~hennicke/"
 %li= link_to 'Hans-Jörg Kreowski (Germany)',"http://www.informatik.uni-bremen.de/theorie/kreo/"
 %li= link_to 'Till Mossakowski (Germany)-chair',"http://iws.cs.uni-magdeburg.de/~mossakow/"
 %li= link_to 'Fernando Orejas (Spain)',"http://www.lsi.upc.edu/~orejas/"
 %li= link_to 'Francesco Parisi-Presicce (Italy)',"http://www.dsi.uniroma1.it/~parisi/"
 %li= link_to 'Grigore Roșu (United States)',"http://fsl.cs.uiuc.edu/~grosu/"
 %li= link_to 'Andrzej Tarlecki (Poland)',"http://www.mimuw.edu.pl/~tarlecki/"

%h3 Local Organizers
%ul
 %li= link_to 'Răzvan	 Diaconescu (Romania)-chair',"http://imar.ro/~diacon/"
 %li= link_to 'Mihai Codescu (Germany)'," http://iws.cs.uni-magdeburg.de/~codescu/"
 %li= link_to 'Ionuţ Ţuţu (UK)'," http://pure.rhul.ac.uk/portal/en/persons/ionut-tutu%280d869a95-3abd-477f-894f-35340f7ede7d%29.html"
 