//Here , iframe tag is not displying maps on page in haml syntax ,so erb is used insted.
%br
%h4 The workshop will take place over four days (September 4th to 7th) at #{link_to 'Hotel International Sinaia.', 'http://www.international-sinaia.ro',:class =>"link"}
%p Location on Google Maps

//%iframe{:src => "https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=hotel+international+sinaia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=63.384331,129.550781&amp;ie=UTF8&amp;hq=hotel+international&amp;hnear=Sinaia,+Prahova,+Romania&amp;ll=45.33091,25.56138&amp;spn=0.041998,0.02198&amp;t=m&amp;output=embed",:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :width => "425"}

<iframe src="https://mapsengine.google.com/map/embed?mid=zW0wPwKhS6S4.koWZhAj6jW80" width="600" height="400"></iframe>
%br
 %small
  <a href="https://mapsengine.google.com/map/viewer?mid=zW0wPwKhS6S4.koWZhAj6jW80" style="color:#0000FF;text-align:left">View Larger Map</a>

//%a{:href => "https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=hotel+international+sinaia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=63.384331,129.550781&amp;ie=UTF8&amp;hq=hotel+international&amp;hnear=Sinaia,+Prahova,+Romania&amp;ll=45.33091,25.56138&amp;spn=0.041998,0.02198&amp;t=m", :style => "color:#0000FF;text-align:left"} View Larger Map

%br
%br 
#{link_to image_tag("peles_castle.jpg",size: "800x400", alt: "Sinaia_photo"),''} 
%br
%br
#{link_to image_tag("sinaia1.JPG",size: "800x400", alt: "Sinaia_photo"),''}
%br
%br
#{link_to image_tag("sinaia2.JPG",size: "800x400", alt: "Sinaia_photo"),''} 
%br
%br 
#{link_to image_tag("sinaia3.JPG",size: "800x400", alt: "Sinaia_photo"),''}




