%h3 Important Dates for #{Settings.name}
%ul
 %li= "June 30th, 2014: Submission deadline for abstracts"
 %li= "July 7th, 2014: Notification of acceptance"
 %li= "July 15th, 2014: Early registration"
 %li= "August 15th, 2014: Late registration"
 %li= "August 5th, 2014: 'Final abstract' submission date"
 %li= "September 2-3, 2014: IFIP meeting"
 %li= "September 4-7, 2014: WADT 2014"
