%h3 Important Dates for #{Settings.conf_name} #{Settings.conf_year}
%ul
 %li= "June 15th, #{Settings.conf_year}: Submission deadline for abstracts"
 %li= "June 30th, #{Settings.conf_year}: Notification of acceptance"
 %li= "July 5th,  #{Settings.conf_year}: Early registration"
 %li= "July 25th, #{Settings.conf_year}: 'Final abstract' submission date"
 %li= "September 2-3, #{Settings.conf_year}: IFIP meeting"
 %li= "September 4-7, #{Settings.conf_year}: #{Settings.conf_name} #{Settings.conf_year}"
