%h3 Important Dates for WADT 2014
%ul
 %li= "June 15th, 2014: Submission deadline for abstracts"
 %li= "June 30th, 2014: Notification of acceptance"
 %li= "July 15th,  2014: Early registration"
 %li= "July 25th, 2014: 'Final abstract' submission date"
 %li= "September 2-3, 2014: IFIP meeting"
 %li= "September 4-7, 2014: WADT 2014"
