%h3 Program
%strong Thursday 4.09.2014 : #{Settings.thu}
%br
%br
%ul 
 %li 8:45-9:00  Opening 
 %li 9:00-10:00 Rustan Leino
 %li 10:00-10:30 Coffee break
 %li 10:30-12:30
 %ul
  %li #{Settings.thu_slot_1_speaker}
  %li #{Settings.thu_slot_1} 
  %li #{Settings.thu_slot_2_speaker}
  %li #{Settings.thu_slot_2} 
  %li #{Settings.thu_slot_3_speaker}
  %li #{Settings.thu_slot_3} 
  %li #{Settings.thu_slot_4_speaker}
  %li #{Settings.thu_slot_4} 
 %li 12:30-14:00 Lunch
 %li 14:00-16:00 4 slots for talk (needs to break it down further)
 %li 16:00-16:30 Coffee break
 %li 16:30-18:00 3 Slots for talk (needs to break it down further)
%br

%strong Friday 5.09.2014 : #{Settings.fri}
%br
%br
%ul 
 %li 9:00-10:00 Chris Benzmüller
 %li 10:00-10:30 Coffee break
 %li 10:30-11:00
 %ul
  %li #{Settings.fri_slot_1_speaker}
  %li #{Settings.fri_slot_1}
 %li 11:00-11:30
 %ul
  %li #{Settings.fri_slot_1_speaker}
  %li #{Settings.fri_slot_1}
 %li 11:30-12:00
 %ul
  %li #{Settings.fri_slot_1_speaker}
  %li #{Settings.fri_slot_1}
 %li 12:00-12:30
 %ul
  %li #{Settings.fri_slot_1_speaker}
  %li #{Settings.fri_slot_1}
 %li 12:30-14:00 Lunch
 %li 14:00-16:00 4 slots for talk (needs to break it down further)
 %li 16:00-16:30 Coffee break
 %li 16:30-18:00 3 Slots for talk (needs to break it down further)
%br

%strong Saturday 6.09.2014 : #{Settings.sat}
%br
%br
%ul 
 %li 9:00-10:00 Discussions session
 %li 10:00-10:30 Coffee break
 %li 10:30-11:00
 %li 11:00-11:30
 %li 11:30-12:00
 %li 12:00-12:30
 %li 12:30-14:00 Lunch
 %li after 14:00 - excursion and conference dinner
%br
 
%strong Sunday 7.09.2014 : #{Settings.sun}
%br
%br
%ul 
 %li 9:00-10:00 2 slots for talk (needs to break it down further)
 %li 10:00-10:30 Coffee break
 %li 10:30-11:00
 %li 11:00-11:30
 %li 11:30-12:00
 %li 12:00-12:30
 %li 12:30-14:00 Lunch and closing







 
