<h3>Preliminary program</h3>


<div id="program" style=  "width:550px;float:left;">

<strong><b><big> Wednesday 3.09.2014 </b></big></strong> 
<br/>
<br/>
<ul>
<li class='text-danger'> <b>19:00-20:00 Registration </b></li>
</ul>

<strong><b><big>Thursday 4.09.2014 </b></big> </strong>
<br/>
<br/>
<ul>
  <li>8:40-9:00  Opening </li>
  <li>9:00-10:00  Invited Speaker:<i> K. Rustan M. Leino </i></li>
  <li>10:00-10:30 Coffee break</li>
  <li>10:30-11:00</li>
  <ul>
    <dd><i><%= Settings.thu_slot_1_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_1 %></dd>
  </ul>

  <li>11:00-11:30</li>
  <ul>
    <dd><i><%= Settings.thu_slot_2_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_2 %></dd>
  </ul>

  <li>11:30-12:00</li> 
  <ul> 
    <dd><i><%= Settings.thu_slot_3_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_3 %> </dd>
  </ul>
    
  <li>12:00-12:30</li>
  <ul>  
    <dd><i><%= Settings.thu_slot_4_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_4 %> </dd>
  </ul>

  <li>12:30-14:30 Lunch</li>
  <li>14:30-15:00 </li>
   <ul>
    <dd><i><%= Settings.thu_slot_5_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_5 %></dd>
  </ul>

  <li>15:00-15:30 </li>
  <ul>
    <dd><i><%= Settings.thu_slot_6_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_6 %></dd>
  </ul>
  <li>15:30-16:00 </li>
  <ul>
    <dd><i><%= Settings.thu_slot_7_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_7 %></dd>
  </ul>
  <li> 16:00-16:30 </li>
  <ul>
    <dd><i><%= Settings.thu_slot_8_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_8 %></dd>
  </ul>

  <li>16:30-17:00 Coffee break</li>
  <li>17:00-17:30 </li>
  <ul>
    <dd><i><%= Settings.thu_slot_9_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_9 %></dd>
  </ul>
 
  <li> 17:30-18:00 </li>
  <ul>
    <dd><i><%= Settings.thu_slot_10_speaker %></i></dd>
    <dd class='text-info'><%= Settings.thu_slot_10 %></dd>
  </ul> 
  
  
  <li class='text-danger'> <b> 18:00-19:00 Registration </b> </li>


</ul>
<br/>
<strong><b><big>Friday 5.09.2014  </b></big></strong>
<br/>
<br/>
<ul>
  <li>9:00-10:00  Invited Speaker:<i> Christoph Benzmüller</i></li>
  <li>10:00-10:30 Coffee break</li>
  <li>10:30-11:00</li>

  <ul>
    <dd><i><%= Settings.fri_slot_1_speaker %></i></dd>
    <dd class='text-info'><%= Settings.fri_slot_1 %></dd>
  </ul>

  <li>11:00-11:30</li>
  <ul>
    <dd><i><%= Settings.fri_slot_2_speaker %></i></dd>
    <dd class='text-info'><%= Settings.fri_slot_2 %></dd>
  </ul>

  <li>11:30-12:00</li>
  <ul>
    <dd><i><%= Settings.fri_slot_3_speaker %></i></dd>
    <dd class='text-info'><%= Settings.fri_slot_3 %></dd>
  </ul>

  <li>12:00-12:30</li>
  <ul>
    <dd><i><%= Settings.fri_slot_4_speaker %></i></dd>
    <dd class='text-info'><%= Settings.fri_slot_4 %></dd>
  </ul>

  <li>12:30-14:30 Lunch</li>
  <li>after 14:30 Excursion
  
</ul>
<br/>






<strong><b><big>Saturday 6.09.2014</big></b> </strong>
<br/>
<br/>
<ul>
<li>9:00-9:30 </li>
   <ul>
    <dd><i><%= Settings.sat_slot_1_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_1 %></dd>
  </ul>

  <li>9:30-10:00 </li>
  <ul>
    <dd><i><%= Settings.sat_slot_2_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_2 %></dd>
  </ul>
 
  <li>10:00-10:30 Coffee break</li>
  <li>10:30-11:00</li>

  <ul>
    <dd><i><%= Settings.sat_slot_3_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_3 %></dd>
  </ul>

  <li>11:00-11:30</li>
  <ul>
    <dd><i><%= Settings.sat_slot_4_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_4 %></dd>
  </ul>

  <li>11:30-12:00</li>
  <ul>
    <dd><i><%= Settings.sat_slot_5_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_5 %></dd>
  </ul>

  <li>12:00-12:30</li>
  <ul>
    <dd><i><%= Settings.sat_slot_6_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_6 %></dd>
  </ul>
  <li>12:30-14:30 Lunch</li>
  <li>14:30-15:00 </li>
  <ul>
    <dd><i><%= Settings.sat_slot_7_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_7 %></dd>
  </ul>
  <li>15:00-15:30 </li>
  <ul>
    <dd><i><%= Settings.sat_slot_8_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_8 %></dd>
  </ul>
  <li>15:30-16:00 </li>
  <ul>
    <dd><i><%= Settings.sat_slot_9_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_9 %></dd>
  </ul>
  <li>16:00-16:30 </li>
  <ul>
    <dd><i><%= Settings.sat_slot_10_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sat_slot_10 %></dd>
  </ul>
  <li>at 19:00 - conference dinner</li>
</ul>
<br/>



<strong><b><big>Sunday 7.09.2014</big></b> </strong>
<br/>
<br/>
<ul>
  <li>9:00-9:30</li>

  <ul>
    <dd><i><%= Settings.sun_slot_1_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sun_slot_1 %></dd>
  </ul>

  <li>9:30-10:00</li>
  <ul>
    <dd><i><%= Settings.sun_slot_2_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sun_slot_2 %></dd>
  </ul>
  <li>10:00-10:30 Coffee break</li>
  <li>10:30-11:00</li>

  <ul>
    <dd><i><%= Settings.sun_slot_3_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sun_slot_3 %></dd>
  </ul>

  <li>11:00-11:30</li>
  <ul>
    <dd><i><%= Settings.sun_slot_4_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sun_slot_4 %></dd>
  </ul>

  <li>11:30-12:00</li>
  <ul>
    <dd><i><%= Settings.sun_slot_5_speaker %></i></dd>
    <dd class='text-info'><%= Settings.sun_slot_5 %></dd>
  </ul>

  <li>12:00-12:30</li>
  <ul>
    <dd><i><%= Settings.sun_slot_6_speaker %></i><dd>
    <dd class='text-info'><%= Settings.sun_slot_6 %></dd>
  </ul>
  <li>12:30-14:30 Lunch </li>
  
  

</ul>
</div>

<div id="poster"  style="height:600px;width:275px;float:left;">
<div>
<%= link_to image_tag("poster.jpeg", alt: "poster",:width => '275px',:height => '400px',:class=> 'poster'),'poster.pdf' %>
</div>


<h5> The PDF version of the program and the preliminary proceedings of
   WADT 2014 can be found here: </h5>
<li><%= link_to "Program","programme.pdf"  %>
<li><%= link_to "Preliminary proceedings","preproceedings.pdf" %>


</div>