- unless member_signed_in?
  %h1 Register for the #{Settings.conf_name} 2014
%br 
#member_nav
  - if member_signed_in?
    %h4 You have registered for #{Settings.conf_name} 2014.
    Signed in as #{current_member.email}. Not you?
    = link_to "Sign out", destroy_member_session_path,:method => :delete
    %br
    %p Information about registration fee and methods for making payments will be posted soon.
  - else
    = link_to "Sign up", new_member_registration_path
    or
    = link_to "Sign in", new_member_session_path




