%h2{:align => "center"} #{Settings.name} Travel Information
%p
  Sinaia is one of the most beautiful mountain town in this area of Europe. A famous skiing resort surrounded by majestic mountains but yet an old royal town with many architectural monuments. The most famous touristic spots are Peleș Castle and its park, the Casino, the central park, Enescu's house, Sinaia monastery. Also the medieval saxon city of Brașov and the Bran Castle are within 1 hour of reach from Sinaia.
  
  %p Different ways to travel from Henri Coandă International Airport to Sinaia:
  
  %strong BY PLANE :
  %p The nearest international airports are in Bucharest, see #{link_to 'http://www.bucharestairports.ro/en/','http://www.bucharestairports.ro/en/'}.
  
  %p 
  Information on how to reach the main railway station in the city, Bucuresti Nord, by bus, by taxi or by train, can be found here:
  %p
  %li= link_to 'http://www.bucharestairports.ro/en/transport/bus','http://www.bucharestairports.ro/en/transport/bus'
  %li= link_to 'http://www.bucharestairports.ro/en/transport/taxi','http://www.bucharestairports.ro/en/transport/taxi'
  %li= link_to 'http://www.bucharestairports.ro/en/transport/train-connection','http://www.bucharestairports.ro/en/transport/train-connection'
  
  %br

  %p From Bucuresti Nord there is direct train connection (about 2 hours) to Sinaia, use #{link_to 'http://www.cfrcalatori.ro/','http://www.cfrcalatori.ro/'} to plan your trip.
  %p A map of Bucharest, including the Henri Coanda International Airport and the Bucharest North Railway Station, can be found at #{link_to 'here.',"https://mapsengine.google.com/map/edit?mid=zW0wPwKhS6S4.kN5X8j_dD0yw"}

  %strong BY TRAIN:
  %p Sinaia is on the route of the international trains connecting Vienna and Budapest to Bucharest. Traveling by train from Vienna to Sinaia takes at least 18 hours and 30 minutes (you should count with possible delays) and a sleeping wagon is available. From Budapest-Keleti you can reach Sinaia in at least 14 hours and 30 minutes.


