%h2 Resend confirmation instructions
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post,:class => 'form-horizontal col-md-5'}) do |f|
  = f.error_notification
  = f.full_error :confirmation_token
  .form-inputs
    = f.input_field :email, :placeholder => "E-mail", :required => true, :autofocus => true
  .form-actions
    = f.button :submit, "Resend",:class=>"btn btn-primary col-sm-7"
= render "devise/shared/links"
