<h2>Register for the WADT-2014</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs ">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true , :placeholder => "Must be atleast 8 character long"%>

    <%= f.input :password_confirmation, :required => true ,:placeholder => "Please type password again"%>

    <%= f.input :firstname, :required => true  %>
    <%= f.input :lastname, :required => true %>


    <%=f.label :Role %>
    <%= f.select :role, Member::ROLE,:prompt=>"Select your role", :required => true %>



    <%=f.label :Diet_preferance %>
    <%= f.select :diet_pref, Member::DIET_PREF ,:prompt => "Select a diet preferance", :required => true %>


    <%= f.input :academic_institution,:placeholder => "Optional" %>


    

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register",:class=>"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
