<h2>Register for the Conference</h2>

<%= simple_form_for(resource,:html => { :class => "form-horizontal", :role => "form" },:as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>


  
  <div class="form-inputs col-lg-3 " >
    <%= f.input :email, :required => true, :autofocus => true,
    :placeholder => 'Email address'%>

    <%= f.input :password, :required => true,:placeholder => 'Password' %>
   
    <%= f.input :password_confirmation,:label=>"Retype Password",:required => true,:placeholder => 'Password Confirmaton' %>
    </br>
     <%= f.input :firstname, :required => true %>
     </br>
      <%= f.input :lastname, :required => true%>
      </br>

      <%= f.label :role %>
       <%=f.select :role, Member::ROLE,:prompt => 'Select Role'%>
       </br>
       <%= f.label :diet_Preferance %>
        <%=f.select :diet_pref, Member::DIET_PREF,:prompt => 'Select Diet Preferance'%>
        </br>
         <%= f.input :academic_institution,:placeholder => 'Optional'%>
         </br>

         <div class="form-actions ">
    <%= f.button :submit, "Register",:class=>'btn btn-primary'%>
  </div>

  

  
</div>

<% end %>

<%= render :partial => "devise/shared/links" %>




