!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to #{Settings.name}, #{@member.firstname}
    %p You have successfully confirmed your #{Settings.name} account.
    %p Details about registration fee and payment method can be found here: #{link_to 'Registration fee and payment.',"http://wadt2014.cs.ovgu.de/register"} Registration will be confirmed only after we receive the registration fee.
    %p Please do NOT answer to this email.If you have any questions regarding #{Settings.name}, please
    contact the organizers at #{Settings.contact}.



