!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to #{Settings.name},  #{@member.firstname}
    %p
      You have successfully registered for #{Settings.name}.
      %br
      Information regarding registration fee and payment method will be posted soon on #{Settings.conf_name} homepage.
      
    %p If you have any queries regarding #{Settings.conf_name} #{Settings.conf_year} ,please feel free to contact at 
    %h3= Settings.contact
