.div
 <x class="n"> NEWS!</x> <x class="news-font"> #{link_to 'Registration is now closed!','register',:class =>"link"}</x>
.div
 <x class="n"> NEWS!</x> <x class="news-font"> #{link_to 'C. Benzmüller',"http://page.mi.fu-berlin.de/cbenzmueller/", :class =>"link"} and #{link_to 'R. Leino',"http://research.microsoft.com/en-us/um/people/leino/",:class =>"link"} will be the invited speakers of #{Settings.name}. </x>
.div
 <x class="n"> NEWS!</x> <x class="news-font">  The preliminary proceedings of #{Settings.name} are now available online #{link_to 'here.',"pre-proceedings.pdf",:class =>"link"} </x>