%h2= @page_title = 'Sign In'


= simple_form_for resource, url: session_path(resource_name), html: {class: 'form-horizontal wow'} do |f|
  
  = f.input :email,:required => false, autofocus: true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean if devise_mapping.rememberable? 
  = f.button :submit, 'Sign In',:class=>"btn btn-primary"

= render 'devise/shared/links'



