<div id="navbar">
      <nav>
        <ul class="nav nav-pills  nav-stacked col-md-2 center">
          <li class="active"><%= link_to "Aims & Topic",    '#' %></li>
          <li><%= link_to "Format & Location",'format' %></li>
          <li><%= link_to "Speakers ",'speakers' %></li>
          <li><%= link_to "Submissions",'submission' %></li>
          <li><%= link_to "Accepted abstracts",'abstracts' %></li>
          <li><%= link_to "Proceedings",'proceedings' %></li>
          <li><%= link_to "Program",'program' %></li>
          <li><%= link_to "Grants",'grants' %></li>
          <li><%= link_to "Sponsorships",'sponsorships' %></li>
          <li><%= link_to "Travel Information",'travel' %></li>
          <li><%= link_to "Contact",'contact' %></li>

        </ul>
      </nav>
</div>

   
