%nav#sidebar
  %ul.nav.nav-pills.nav-stacked.center
    %li.active= link_to "Aims and Topic", 'home_page'
    %li= link_to "Registration",'register'
    %li= link_to "Format & Location",'format'
    %li= link_to "Important Dates",'importantdates'
    %li= link_to "Speakers ",'speakers'
    %li= link_to "Committees",'committees'
    %li= link_to "Submissions",'submission'
    %li= link_to "Accepted abstracts",'abstracts'
    %li= link_to "Proceedings",'proceedings'
    %li= link_to "Program",'program'
    %li= link_to "Grants",'grants'
    %li= link_to "Sponsorships",'sponsorships'
    %li= link_to "Meals",'meals'
    %li= link_to "Travel",'travel'
    %li= link_to "Accomodation",'accomodation'
    %li= link_to "Information",'information'
    %li= link_to "Contact",'contact'
