
      <nav id="sidebar">
        <ul class="nav nav-pills  nav-stacked center">
          <li class="active"><%= link_to "Aims and Topic", 'home_page' %></li>

          <li><%= link_to "Registration",'register' %></li>
          <li><%= link_to "Format & Location",'format' %></li>
          <li><%= link_to "Important Dates",'importantdates' %></li>
          <li><%= link_to "Speakers ",'speakers' %></li>
           <li><%= link_to "Committees",'committees' %></li>
          <li><%= link_to "Submissions",'submission' %></li>
          <li><%= link_to "Accepted abstracts",'abstracts' %></li>
          <li><%= link_to "Proceedings",'proceedings' %></li>
          <li><%= link_to "Program",'program' %></li>
          <li><%= link_to "Grants",'grants' %></li>
          <li><%= link_to "Sponsorships",'sponsorships' %></li>
          <li><%= link_to "Meals",'meals' %></li>
          <li><%= link_to "Travel",'travel' %></li>
          <li><%= link_to "Accommodation",'accommodation' %></li>
          <li><%= link_to "Information",'information' %></li>
          <li><%= link_to "Contact",'contact' %></li>

           
            
             
             

        </ul>
      </nav>


   
