!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= Settings.name
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "custom", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .col-sm-3.col-md-3.col-xs-3
          =render 'layouts/logo'
        .col-sm-7.col-md-7.col-xs-7
          = render 'layouts/topsection'
      .row
        .col-sm-3.col-md-3.col-xs-3
          = render 'layouts/navbar'
        .col-sm-9.col-md-9#content
          = render 'layouts/messages'
          = yield
  .row    
    .col-sm-9.col-md-9.col-xs-9.col-md-offset-1.center
      = render 'layouts/footer'
